
.rotate90{
    transform: rotate(90deg);
}

.img_cont {
    transform: rotate(90deg);
    width: 150px;
    max-width: 100%;
    height: 150px;
    object-fit: contain;
    margin: 20px auto;
}



.rows {
    rows: 3;
}

.makeBox {
    border: 1px solid green;
    float: left;
    width: 100px;
    height: 100px;
    margin: 10px;
}