.img1 {
    transform: rotate(90deg);
    width: 100px;
    height: 100px;
    object-fit: contain;
    /*height: auto;*/
    /*width: auto;*/
    /*max-width: 300px;*/
    /*max-height: 300px;*/
    /*border: 0.8em solid #f4f4f4;*/
    /*box-shadow: 0.5em 0.5em 1em #ccc;*/
}

.rotate90{
    transform: rotate(90deg);
}

.img_cont {
    display:inline-block;
    /*display: table;*/
    width: 30%;
    margin: 20px auto;
    image-orientation: from-image;
}

.img_cont2 {

    display: table;
    width: 30%;
    margin: 20px auto;
}
